USE [DBGRUPO5]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID_BITACORA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ACCION] [nvarchar](80) NOT NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[FECHA] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](80) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[TELEFONO] [nvarchar](30) NULL,
	[CORREO] [nvarchar](120) NULL,
	[DIRECCION] [nvarchar](200) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORTES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORTES](
	[ID_CORTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](120) NOT NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESPERDICIOS_MATERIAL]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESPERDICIOS_MATERIAL](
	[ID_DESPERDICIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATERIAL] [int] NOT NULL,
	[CANTIDAD_DESPERDICIADA] [decimal](12, 2) NOT NULL,
	[REUTILIZABLE] [char](1) NOT NULL,
	[CANTIDAD_REUTILIZADA] [decimal](12, 2) NOT NULL,
	[MOTIVO] [nvarchar](250) NULL,
	[FECHA] [datetime2](0) NOT NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DESPERDICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLES_VENTAS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_VENTAS](
	[ID_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [decimal](12, 2) NOT NULL,
	[PRECIO_UNITARIO] [decimal](12, 2) NOT NULL,
	[SUBTOTAL] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVOLUCIONES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVOLUCIONES](
	[ID_DEVOLUCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[MOTIVO] [nvarchar](250) NOT NULL,
	[FECHA] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] NOT NULL,
	[NOMBRE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARANTIAS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARANTIAS](
	[ID_GARANTIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[DURACION_MESES] [int] NOT NULL,
	[CONDICIONES] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GARANTIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALES](
	[ID_MATERIAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](120) NOT NULL,
	[TIPO] [nvarchar](60) NOT NULL,
	[STOCK] [decimal](12, 2) NOT NULL,
	[COSTO_UNITARIO] [decimal](12, 2) NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTOS_INVENTARIO]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS_INVENTARIO](
	[ID_MOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATERIAL] [int] NOT NULL,
	[TIPO_MOVIMIENTO] [nvarchar](10) NOT NULL,
	[CANTIDAD] [decimal](12, 2) NOT NULL,
	[FECHA] [datetime2](0) NOT NULL,
	[OBSERVACION] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[ID_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](80) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_MATERIAL]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_MATERIAL](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_MATERIAL] [int] NOT NULL,
	[CANTIDAD_USADA] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_PRODUCTO_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC,
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](140) NOT NULL,
	[PRECIO_VENTA] [decimal](12, 2) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](120) NOT NULL,
	[CONTACTO] [nvarchar](120) NULL,
	[TELEFONO] [nvarchar](30) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO_CORTES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO_CORTES](
	[ID_REGISTRO_CORTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_CORTE] [int] NOT NULL,
	[ID_MATERIAL] [int] NOT NULL,
	[CANTIDAD] [decimal](12, 2) NOT NULL,
	[FECHA] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO_CORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](60) NOT NULL,
	[DESCRIPCION] [nvarchar](200) NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES_PERMISOS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES_PERMISOS](
	[ID_ROL] [int] NOT NULL,
	[ID_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_ROLES_PERMISOS] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC,
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](80) NOT NULL,
	[CORREO] [nvarchar](120) NOT NULL,
	[CONTRASENA] [nvarchar](200) NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[FECHA] [datetime2](0) NOT NULL,
	[TOTAL] [decimal](12, 2) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BITACORA] ADD  CONSTRAINT [DF_BITACORA_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  CONSTRAINT [DF_CATEGORIAS_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [DF_CLIENTES_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[CORTES] ADD  CONSTRAINT [DF_CORTES_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] ADD  CONSTRAINT [DF_DM_CANT_DESP]  DEFAULT ((0)) FOR [CANTIDAD_DESPERDICIADA]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] ADD  CONSTRAINT [DF_DM_REU]  DEFAULT ('N') FOR [REUTILIZABLE]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] ADD  CONSTRAINT [DF_DM_CANT_REU]  DEFAULT ((0)) FOR [CANTIDAD_REUTILIZADA]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] ADD  CONSTRAINT [DF_DM_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] ADD  CONSTRAINT [DF_DV_CANT]  DEFAULT ((0)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] ADD  CONSTRAINT [DF_DV_PRECIO]  DEFAULT ((0)) FOR [PRECIO_UNITARIO]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] ADD  CONSTRAINT [DF_DV_SUB]  DEFAULT ((0)) FOR [SUBTOTAL]
GO
ALTER TABLE [dbo].[DEVOLUCIONES] ADD  CONSTRAINT [DF_DEV_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[GARANTIAS] ADD  CONSTRAINT [DF_GAR_MESES]  DEFAULT ((0)) FOR [DURACION_MESES]
GO
ALTER TABLE [dbo].[MATERIALES] ADD  CONSTRAINT [DF_MATERIALES_STOCK]  DEFAULT ((0)) FOR [STOCK]
GO
ALTER TABLE [dbo].[MATERIALES] ADD  CONSTRAINT [DF_MATERIALES_COSTO]  DEFAULT ((0)) FOR [COSTO_UNITARIO]
GO
ALTER TABLE [dbo].[MATERIALES] ADD  CONSTRAINT [DF_MATERIALES_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] ADD  CONSTRAINT [DF_MI_CANT]  DEFAULT ((0)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] ADD  CONSTRAINT [DF_MI_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL] ADD  CONSTRAINT [DF_PM_CANT]  DEFAULT ((0)) FOR [CANTIDAD_USADA]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_PRODUCTOS_PRECIO]  DEFAULT ((0)) FOR [PRECIO_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTOS] ADD  CONSTRAINT [DF_PRODUCTOS_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  CONSTRAINT [DF_PROVEEDORES_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[REGISTRO_CORTES] ADD  CONSTRAINT [DF_RC_CANT]  DEFAULT ((0)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[REGISTRO_CORTES] ADD  CONSTRAINT [DF_RC_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [DF_ROLES_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[VENTAS] ADD  CONSTRAINT [DF_VENTAS_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[VENTAS] ADD  CONSTRAINT [DF_VENTAS_TOTAL]  DEFAULT ((0)) FOR [TOTAL]
GO
ALTER TABLE [dbo].[VENTAS] ADD  CONSTRAINT [DF_VENTAS_ESTADO]  DEFAULT ((1)) FOR [ID_ESTADO]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BIT_USU] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BIT_USU]
GO
ALTER TABLE [dbo].[CATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIAS_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CATEGORIAS] CHECK CONSTRAINT [FK_CATEGORIAS_ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_ESTADO]
GO
ALTER TABLE [dbo].[CORTES]  WITH CHECK ADD  CONSTRAINT [FK_CORTES_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CORTES] CHECK CONSTRAINT [FK_CORTES_ESTADO]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_DM_MAT] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIALES] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] CHECK CONSTRAINT [FK_DM_MAT]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_DM_USU] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] CHECK CONSTRAINT [FK_DM_USU]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_DV_PROD] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [FK_DV_PROD]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_DV_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [FK_DV_VENTA]
GO
ALTER TABLE [dbo].[DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEV_VEN] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[DEVOLUCIONES] CHECK CONSTRAINT [FK_DEV_VEN]
GO
ALTER TABLE [dbo].[GARANTIAS]  WITH CHECK ADD  CONSTRAINT [FK_GAR_PROD] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[GARANTIAS] CHECK CONSTRAINT [FK_GAR_PROD]
GO
ALTER TABLE [dbo].[MATERIALES]  WITH CHECK ADD  CONSTRAINT [FK_MAT_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[MATERIALES] CHECK CONSTRAINT [FK_MAT_ESTADO]
GO
ALTER TABLE [dbo].[MATERIALES]  WITH CHECK ADD  CONSTRAINT [FK_MAT_PROV] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[MATERIALES] CHECK CONSTRAINT [FK_MAT_PROV]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_MI_MAT] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIALES] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] CHECK CONSTRAINT [FK_MI_MAT]
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PM_MAT] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIALES] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL] CHECK CONSTRAINT [FK_PM_MAT]
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PM_PROD] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL] CHECK CONSTRAINT [FK_PM_PROD]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PROD_CAT] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PROD_CAT]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PROD_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PROD_ESTADO]
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDORES_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK_PROVEEDORES_ESTADO]
GO
ALTER TABLE [dbo].[REGISTRO_CORTES]  WITH CHECK ADD  CONSTRAINT [FK_RC_CORTE] FOREIGN KEY([ID_CORTE])
REFERENCES [dbo].[CORTES] ([ID_CORTE])
GO
ALTER TABLE [dbo].[REGISTRO_CORTES] CHECK CONSTRAINT [FK_RC_CORTE]
GO
ALTER TABLE [dbo].[REGISTRO_CORTES]  WITH CHECK ADD  CONSTRAINT [FK_RC_MAT] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIALES] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[REGISTRO_CORTES] CHECK CONSTRAINT [FK_RC_MAT]
GO
ALTER TABLE [dbo].[ROLES]  WITH CHECK ADD  CONSTRAINT [FK_ROLES_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[ROLES] CHECK CONSTRAINT [FK_ROLES_ESTADO]
GO
ALTER TABLE [dbo].[ROLES_PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_RP_PER] FOREIGN KEY([ID_PERMISO])
REFERENCES [dbo].[PERMISOS] ([ID_PERMISO])
GO
ALTER TABLE [dbo].[ROLES_PERMISOS] CHECK CONSTRAINT [FK_RP_PER]
GO
ALTER TABLE [dbo].[ROLES_PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK_RP_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROLES] ([ID_ROL])
GO
ALTER TABLE [dbo].[ROLES_PERMISOS] CHECK CONSTRAINT [FK_RP_ROL]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USU_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USU_ESTADO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USU_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROLES] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USU_ROL]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VEN_CLI] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VEN_CLI]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VEN_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VEN_ESTADO]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [CK_DM_CANT_DESP] CHECK  (([CANTIDAD_DESPERDICIADA]>=(0)))
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] CHECK CONSTRAINT [CK_DM_CANT_DESP]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [CK_DM_CANT_REU] CHECK  (([CANTIDAD_REUTILIZADA]>=(0)))
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] CHECK CONSTRAINT [CK_DM_CANT_REU]
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL]  WITH CHECK ADD  CONSTRAINT [CK_DM_REU] CHECK  (([REUTILIZABLE]='N' OR [REUTILIZABLE]='S'))
GO
ALTER TABLE [dbo].[DESPERDICIOS_MATERIAL] CHECK CONSTRAINT [CK_DM_REU]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_DV_CANT] CHECK  (([CANTIDAD]>=(0)))
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [CK_DV_CANT]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_DV_PRECIO] CHECK  (([PRECIO_UNITARIO]>=(0)))
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [CK_DV_PRECIO]
GO
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_DV_SUB] CHECK  (([SUBTOTAL]>=(0)))
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [CK_DV_SUB]
GO
ALTER TABLE [dbo].[GARANTIAS]  WITH CHECK ADD  CONSTRAINT [CK_GAR_MESES] CHECK  (([DURACION_MESES]>=(0)))
GO
ALTER TABLE [dbo].[GARANTIAS] CHECK CONSTRAINT [CK_GAR_MESES]
GO
ALTER TABLE [dbo].[MATERIALES]  WITH CHECK ADD  CONSTRAINT [CK_MAT_COSTO] CHECK  (([COSTO_UNITARIO]>=(0)))
GO
ALTER TABLE [dbo].[MATERIALES] CHECK CONSTRAINT [CK_MAT_COSTO]
GO
ALTER TABLE [dbo].[MATERIALES]  WITH CHECK ADD  CONSTRAINT [CK_MAT_STOCK] CHECK  (([STOCK]>=(0)))
GO
ALTER TABLE [dbo].[MATERIALES] CHECK CONSTRAINT [CK_MAT_STOCK]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [CK_MI_CANT] CHECK  (([CANTIDAD]>=(0)))
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] CHECK CONSTRAINT [CK_MI_CANT]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO]  WITH CHECK ADD  CONSTRAINT [CK_MI_TIPO] CHECK  (([TIPO_MOVIMIENTO]='SALIDA' OR [TIPO_MOVIMIENTO]='ENTRADA'))
GO
ALTER TABLE [dbo].[MOVIMIENTOS_INVENTARIO] CHECK CONSTRAINT [CK_MI_TIPO]
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL]  WITH CHECK ADD  CONSTRAINT [CK_PM_CANT] CHECK  (([CANTIDAD_USADA]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTO_MATERIAL] CHECK CONSTRAINT [CK_PM_CANT]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [CK_PROD_PRECIO] CHECK  (([PRECIO_VENTA]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [CK_PROD_PRECIO]
GO
ALTER TABLE [dbo].[REGISTRO_CORTES]  WITH CHECK ADD  CONSTRAINT [CK_RC_CANT] CHECK  (([CANTIDAD]>=(0)))
GO
ALTER TABLE [dbo].[REGISTRO_CORTES] CHECK CONSTRAINT [CK_RC_CANT]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [CK_VENTAS_TOTAL] CHECK  (([TOTAL]>=(0)))
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [CK_VENTAS_TOTAL]
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_ACTUALIZAR]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_USUARIOS_ACTUALIZAR]
    @ID_USUARIO INT,
    @NOMBRE NVARCHAR(80),
    @CORREO NVARCHAR(120),
    @ID_ROL INT,
    @CONTRASENA NVARCHAR(200) = NULL,
    @OK BIT OUTPUT,
    @MSG NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE ID_USUARIO = @ID_USUARIO)
    BEGIN
        SET @OK = 0;
        SET @MSG = 'Usuario indicado no existe dentro del sistema, por favor intente con otro usuario';
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM dbo.USUARIOS 
        WHERE CORREO = @CORREO AND ID_USUARIO <> @ID_USUARIO
    )
    BEGIN
        SET @OK = 0;
        SET @MSG = 'Ese correo ya existe dentro del sistema';
        RETURN;
    END

    UPDATE dbo.USUARIOS
    SET
        NOMBRE = @NOMBRE,
        CORREO = @CORREO,
        ID_ROL = @ID_ROL,
        CONTRASENA = CASE 
                        WHEN @CONTRASENA IS NULL OR LTRIM(RTRIM(@CONTRASENA)) = '' THEN CONTRASENA
                        ELSE @CONTRASENA
                     END
    WHERE ID_USUARIO = @ID_USUARIO;

    SET @OK = 1;
    SET @MSG = 'Usuario Actualizado';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_INSERTAR]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_USUARIOS_INSERTAR]
    @NOMBRE NVARCHAR(80),
    @CORREO NVARCHAR(120),
    @CONTRASENA NVARCHAR(200),
    @ID_ROL INT,
    @OK BIT OUTPUT,
    @MSG NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE CORREO = @CORREO)
    BEGIN
        SET @OK = 0;
        SET @MSG = 'Ya existe un usuario con ese correo en el sistema';
        RETURN;
    END

    INSERT INTO dbo.USUARIOS (NOMBRE, CORREO, CONTRASENA, ID_ROL, ID_ESTADO)
    VALUES (@NOMBRE, @CORREO, @CONTRASENA, @ID_ROL, 1);

    SET @OK = 1;
    SET @MSG = 'Usuario creado exitosamente';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_LISTAR]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_USUARIOS_LISTAR]
    @Q NVARCHAR(120) = NULL,
    @ID_ROL INT = 0,
    @ID_ESTADO INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.ID_USUARIO AS IdUsuario,
        u.NOMBRE     AS Nombre,
        u.CORREO     AS Correo,
        u.ID_ROL     AS IdRol,
        u.ID_ESTADO  AS IdEstado,
        r.NOMBRE     AS ROL_NOMBRE,
        e.NOMBRE     AS ESTADO_NOMBRE
    FROM dbo.USUARIOS u
    INNER JOIN dbo.ROLES r ON r.ID_ROL = u.ID_ROL
    INNER JOIN dbo.ESTADO e ON e.ID_ESTADO = u.ID_ESTADO
    WHERE
        ( @Q IS NULL OR @Q = '' OR u.NOMBRE LIKE '%' + @Q + '%' OR u.CORREO LIKE '%' + @Q + '%' )
        AND ( @ID_ROL = 0 OR u.ID_ROL = @ID_ROL )
        AND ( @ID_ESTADO = 0 OR u.ID_ESTADO = @ID_ESTADO )
    ORDER BY u.ID_USUARIO DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_TOGGLE_ESTADO]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_USUARIOS_TOGGLE_ESTADO]
    @ID_USUARIO INT,
    @OK BIT OUTPUT,
    @MSG NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE ID_USUARIO = @ID_USUARIO)
    BEGIN
        SET @OK = 0;
        SET @MSG = 'Usuario indicado no existe dentro del sistema, por favor intente con otro usuario';
        RETURN;
    END

    UPDATE dbo.USUARIOS
    SET ID_ESTADO = CASE WHEN ID_ESTADO = 1 THEN 2 ELSE 1 END
    WHERE ID_USUARIO = @ID_USUARIO;

    SET @OK = 1;
    SET @MSG = 'Estado actualizado';
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_LOGIN_SP]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USUARIO_LOGIN_SP]
    @Correo      NVARCHAR(120),
    @Contrasena  NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.ID_USUARIO,
        U.NOMBRE,
        U.CORREO,
        U.ID_ROL,
        R.NOMBRE AS ROL
    FROM dbo.USUARIOS U
    INNER JOIN dbo.ROLES R ON R.ID_ROL = U.ID_ROL
    WHERE U.CORREO = @Correo
      AND U.CONTRASENA = @Contrasena
      AND U.ID_ESTADO = 1; -- Activo (Validar que este activo)
END;
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_RECUPERARCONTRASENA_SP]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USUARIO_RECUPERARCONTRASENA_SP]
    @Correo          NVARCHAR(120),
    @NuevaContrasena NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.USUARIOS
        WHERE CORREO = @Correo
          AND ID_ESTADO = 1
    )
    BEGIN
        UPDATE dbo.USUARIOS
        SET CONTRASENA = @NuevaContrasena
        WHERE CORREO = @Correo;

        RETURN 1; -- Se envia la recuperaicon
    END

    RETURN 0; -- No existe o está inactivo
END;
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_REGISTRAR_SP]    Script Date: 17/2/2026 16:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USUARIO_REGISTRAR_SP]
    @Nombre      NVARCHAR(80),
    @Correo      NVARCHAR(120),
    @Contrasena  NVARCHAR(200),
    @ID_ROL      INT = 3,
    @ID_ESTADO   INT = 1,
    @Resultado   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.USUARIOS WHERE CORREO = @Correo)
    BEGIN
        INSERT INTO dbo.USUARIOS (NOMBRE, CORREO, CONTRASENA, ID_ROL, ID_ESTADO)
        VALUES (@Nombre, @Correo, @Contrasena, @ID_ROL, @ID_ESTADO);

        SET @Resultado = 1;   -- OK
    END
    ELSE
    BEGIN
        SET @Resultado = -1;  -- Duplicado
    END
END;
GO
